.pointer {
  cursor: pointer;
}

.tox-notification {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.choose-box {
  border: solid 1px #d7d7d7;
  cursor: pointer;
}
.media-list {
  .media-item {
    background-color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    .preview {
      background-color: #ffffff;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      // height: 200px;
      padding-top: 70%;
      position: relative;
      .media-select {
        position: absolute;
        left: 5%;
        top: 5%;
      }
      .action {
        position: absolute;
        top: .5rem;
        right: .5rem;
        opacity: 0;
        transition: all .25s;
        &-item {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          border-radius: 3px;
        }
      }

    }
    &:hover{

      .action {
        opacity: 1;
      }
    }
    .media-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.media-upload {
  min-height: 100px;
  border: solid 5px gray;
}

.upload-button {
  .upload-input {
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      border: none;
      // position: absolute;
  }
}

