#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-title-bar {
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .body {
        min-height: 50px;
        display: flex;
        .app-title {
            font-size: 16px;
            font-weight: 700;
        }
    }
    .right {
        min-height: 50px;
    }
    .text{
        font-size: 12px;
    }
}

.app-body {
    background-color: #f6f6f6;
    flex: 1;
    background-repeat: no-repeat;
    overflow: auto;
}

.loader-dots {
    display: flex;
    justify-content: center;
    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $app-primary;
        margin: 0 .25rem;
        animation: scale ease 500ms infinite alternate-reverse;
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 100}ms;
            }
        }
    }
    &.inverse {
        .dot {
            background-color: $white;
        }
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}