.preview {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .loader-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .loader {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border-top: solid 3px $app-primary;
        }
    }
}